body {
    margin: 0;
    padding: 0;
    width: 100%;
}

p, address {
	font-family: "Roboto Slab", serif;
	font-size: 110%;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container > header {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    width: 100%;
    height: 102px;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
}

.container > header > img {
	margin-left: 20px;
	height: 82px;
	background: rgba(242, 229, 198, 1);
	padding: 10px;
	border: 5px solid rgb(222, 200, 152);
}

.container > header > nav {
    margin: 0;
    padding: 25px 0 0 10px;
}

.container > header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container > header > nav > ul > li {
    display: inline-table;
    text-align: center;
    width: 120px;
}

.container > header > nav > ul > li > a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    text-transform: uppercase;
    display: block;
    padding: 10px 0;
    color: rgb(215, 184, 39);
}

.container > header > nav > ul > li > a:hover {
    background: rgb(215, 184, 39);
    color: rgb(0, 0, 0);
}

.container > section {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 400px;
    margin-bottom: 70px;
}

.container > section > h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin-top: -60px;
    padding-top: 120px;
    margin-bottom: 50px;
}

.container > .marquee {
    margin: 0;
    margin-top: 60px;
    padding: 0;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url(../images/marquee.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.container > .marquee > h1 {
    padding-top: 100px;
    padding-left: 40px;
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 400%;
    text-align: left;
}

.container > .marquee > h2 {
	padding-top: 120px;
	color: rgb(255, 255, 255);
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 400%;
	font-style: italic;
	text-transform: uppercase;
	padding-left: 40px;
}

.container > .marquee > h1 > br {
    line-height: 10;
}

.container > .marquee > h1 > span {
    margin-left: 150px;
}

.container > section > article {
    margin: 0 auto;
    padding: 0;
    width: 990px;
}

.container > .about > article > blockquote {
    margin-bottom: 40px;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 800;
    text-align: right;
}

.container > .about > article > div:nth-of-type(1) {
	margin: 0 0 30px 40px;
	background: #000;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	float: left;
}

.container > .about > article > div:nth-of-type(2) {
	float: left;
	width: 650px;
	margin-top: 25px;
	margin-left: 20px;
}

.container > .about > article > div:nth-of-type(2) > h2 {
	font-size: 150%;
	font-family: "Roboto Slab", serif;
	text-align: justify;
}

.container > .about > article > div > img {
	margin: 80px 0 0 20px;
}

.container > .about > article > p {
    font-size: 120%;
	clear: both;
}

.container > .contact > article {
	text-align: center;
}

.container > .contact > article > address > h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.container > .contact > article > div {
	font-size: 4em;
	margin: 15px;
}

.container > .contact > article > div > a {
    color: rgb(0, 0, 0);
	text-decoration: none;
}


.container > .contact > article > div > a:hover {
    color: rgb(232, 169, 36);
	text-decoration: none;
}

.container > .bio > article > div {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}


.container > .bio > article > div > div:nth-of-type(1) {
	flex-grow: 1;
	float: left;
}

.container > .bio > article > div > div:nth-of-type(2) {
	flex-grow: 3;
	margin-left: 20px;
	float: right;
}

.container > .bio > article > div > div:nth-of-type(2) > p {
	line-height: 1.5;
	text-align: justify;
	font-size: 102%;
}

.container > footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 72px;
    background: rgb(232,169,36);
    text-align: center;
}

.container > footer > div {
    padding-top: 20px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

#site-overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 100;
    top: 0;
    display: none;
}

#site-overlay > h1 {
    float: right;
    color: #FFF;
    margin: 120px 40px 0 0;
    font-size: 125%;
    color: rgba(240, 240, 240, 0.75);
}

#site-overlay > h1:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

[id*=lightbox] {
    position: absolute;
    float: left;
    width: 720px;
    height: 414px;
    margin-top: -207px;
    margin-left: -360px;
    top: 50%;
    left: 50%;
    z-index: 100;
    background: #FFF;
    display: none;
    text-align: center;
}

#video-lightbox > video {
    margin-top: 10px;
}



